In [6]:
import pandas as pd
from pandas import json_normalize

In [ ]:
df = pd.read_json("../../EXAM/data/Afstemning.json")

In [5]:
df['value'].head()

0    {'id': 1, 'nummer': 411, 'konklusion': 'Vedtag...
1    {'id': 2, 'nummer': 412, 'konklusion': 'Vedtag...
2    {'id': 3, 'nummer': 1, 'konklusion': 'Vedtaget...
3    {'id': 4, 'nummer': 7, 'konklusion': 'Vedtaget...
4    {'id': 5, 'nummer': 412, 'konklusion': 'Vedtag...
Name: value, dtype: object

In [8]:
# Use json_normalize to split the dictionary_column into separate columns
normalized_df = json_normalize(df['value'])

# Concatenate the new columns with the original DataFrame
result = pd.concat([df, normalized_df], axis=1)

# Display the result
result.head()

,odata.metadata,odata.count,value,odata.nextLink,id,nummer,konklusion,vedtaget,kommentar,mødeid,typeid,sagstrinid,opdateringsdato
0,https://oda.ft.dk/api/$metadata#Afstemning,9281,"{'id': 1, 'nummer': 411, 'konklusion': 'Vedtag...",https://oda.ft.dk/api/Afstemning?$inlinecount=...,1,411,"Vedtaget\n\n108 stemmer for forslaget (V, S, D...",True,None,17,2,NaN,2014-09-09T09:05:59.653
1,https://oda.ft.dk/api/$metadata#Afstemning,9281,"{'id': 2, 'nummer': 412, 'konklusion': 'Vedtag...",https://oda.ft.dk/api/Afstemning?$inlinecount=...,2,412,"Vedtaget\n\n98 stemmer for forslaget (V, S, DF...",True,None,18,1,4849.0,2014-09-09T09:25:05.717
2,https://oda.ft.dk/api/$metadata#Afstemning,9281,"{'id': 3, 'nummer': 1, 'konklusion': 'Vedtaget...",https://oda.ft.dk/api/Afstemning?$inlinecount=...,3,1,"Vedtaget\n\n59 stemmer for forslaget (S, RV, S...",True,,41,3,17351.0,2018-01-24T16:46:33.99
3,https://oda.ft.dk/api/$metadata#Afstemning,9281,"{'id': 4, 'nummer': 7, 'konklusion': 'Vedtaget...",https://oda.ft.dk/api/Afstemning?$inlinecount=...,4,7,"Vedtaget\n\n72 stemmer for forslaget (S, DF, R...",True,,156,1,18370.0,2018-01-25T10:25:25.64
4,https://oda.ft.dk/api/$metadata#Afstemning,9281,"{'id': 5, 'nummer': 412, 'konklusion': 'Vedtag...",https://oda.ft.dk/api/Afstemning?$inlinecount=...,5,412,"Vedtaget\n\n98 stemmer for forslaget (V, S, DF...",True,,18,1,4849.0,2017-08-10T12:57:52.27

In [12]:
result['konklusion'][0]

'Vedtaget\n\n108 stemmer for forslaget (V, S, DF, RV, SF, EL, LA, KF, UFG)\n\n0 stemmer imod forslaget\n\n0 stemmer hverken for eller imod forslaget\n\n'